@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    font-family: 'Indie Flower', cursive;
}
/*Header*/
header{
    background-image: url(https://media.istockphoto.com/photos/farm-coffee-plantation-in-brazil-picture-id938716300?k=20&m=938716300&s=612x612&w=0&h=AqwZeHtc5iY5RwCUJrZbWbws_ZmyHha7FzzrhoWXrak=);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #4bbeb8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

/* Nav */

nav 
{
    margin: 100px auto;
    width: 50%;
    height: 100px;
    background: #48435C;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    color: white;
}
 
/* nav a:hover 
{
    background: #5A5766
} */

label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 20px;
        color: rgb(2, 2, 2);
        cursor: pointer;
    }


/* fin du nav */

.logoleafcoffee
{
    display: flex;
    justify-content: center;
    width: 100%;
}

#logoleafcoffee
{
    height: 300px;
    width: 300px;
    padding: 60px;
    border-radius: 10% 10% 10% 10%;
}

form
{
    width: 60%;
    height: auto;
}

.container 
{
    display: flex;
    justify-content: space-around;
}
/* fin  du Header */

/*Main*/

.paragraphe
{
text-align: center;

}

.container_img 
{
    display: flex;
    justify-content: space-evenly;
}

#img1
{
height: 300px;
}

#img2
{
    height: 300px;
}

#img3
{
    height: 300px;
}

/*Style formulaire inscription*/

.form-inscription
{
    display: flex;
    justify-content: center;
}

/*Style formulaire connexion*/

.formu
{
    display: flex;
    justify-content: center;
    
}

/* Style formulaire contact */


#abc {
    background-color: rgb(19, 17, 17);
    font-size: 12px;
  }
  
  #abc, button, input {
    
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  } 
  
  .container {
  display: flex;
  flex-direction: column;
  }
  
  .contact{
      font-size: 30px;
      margin-left: 30%;
  }
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #e5e90f;
  }


  /* Style du forum */
.part1 {
  display: flex;
  flex-direction: column;
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.part1-1{
  display: flex;
  justify-content: space-around;
}

.part1-1-2{
  padding-top: 150px;
}

.part1-2{
  display: flex;
  flex-direction: column;
  text-align: center;
}
  /* Fin du style du forum */
  
  /*FIN DU MAIN*/
/* Fin du formulaire de contact */
/* Formulaire de modification de profil */

#formu-modif-profil {
    display: flex;
    justify-content: center;
}
/*Footer*/
.container-f{
    max-width: 1170px;
    margin: auto;
    text-align: center; 
    width: 100%;
  }
  
  .row{
    display: flex;
    justify-content: space-between;
   
  }
  
  
  .footer{
    background-color: #24262b;
    padding: 20px 0;
    margin: auto;
    
    
  }
  
  .footer1{
    width: 25%;
    padding: 0 15px;
    
  }
  
  .footer1 h4{
  
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-align: center;
  
  }
  
  .footer1 h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -15px;
    background-color: #8894b8;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
    margin-left: 50px;
  }
  
  
  
  .footer1 .s-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer1 .s-links a:hover{
    color: #193270;
    background-color: #ffffff;
  
  }
  
  .pfooter{
  
    color: white;
    text-align: left;
  }
  
  .pfooter1{
    color: white;
  }
  
  /*FIN FOOTER*/